* {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#navbar {
  height: 80px;
  background-color: rgb(45, 45, 238);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
}
.gamecontainer {
  /* background-color: rgb(168, 211, 248); */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* border: 1.5px solid blue; */
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 15vh);
  grid-template-rows: repeat(3, 15vh);
}

.box {
  border: 2px solid black;
  font-size: 4vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(169, 232, 246);
}
.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}
.gameinfo {
  /* border: 2px solid blue; */
  padding: auto;
  margin-left: 15px;
}

.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}

#reset {
  cursor: pointer;
  color: cornflowerblue;
  background-color: lavender;
  border-radius: 14px;
  padding: 10px;
}
